{% extends 'base.html' %}
{% block title %}
    About Diabetes
{% endblock %}

{% block content %}
    <div class="card mb-3" style=
            "max-width: 1000px;
            margin: auto;
            margin-top: 50px;
            background-color: #FEFBFB;
            box-shadow: 5px 5px 5px #aaaaaa;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src= "/static/PIC/diabetes.png"  class="card-img" alt="">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">About Diabetes</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}