{% extends 'base.html' %}
{% block title %}
    Appointment
{% endblock %}

{% block content %}

<html>
<head>
    <style>
        h1 {
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .clinic {
            width: 700px;
            border: 1px solid #BFBFBF;
            background-color: white;
            box-shadow: 5px 5px 5px #aaaaaa;
            margin-left: 500px;
            margin-bottom: 20px;
            border-radius: 5px;
        }
        p {
            margin-top: 20px;
            margin-left: 30px;
        }
    </style>
</head>
<body>

    <h1>Make an Appointment</h1>
    <div class="clinic">
        <p>Partner clinic: clinic name</p>
        <p>Address: Address</p>
        <p>Make an apppointment at: link</p>
    </div>

    <div class="clinic">
        <p>Partner clinic: clinic name</p>
        <p>Address: Address</p>
        <p>Make an apppointment at: link</p>
    </div>

    <div class="clinic">
        <p>Partner clinic: clinic name</p>
        <p>Address: Address</p>
        <p>Make an apppointment at: link</p>
    </div>
    
</body>
</html>

{% endblock %}