{% extends 'base.html' %}
{% block title %}
    Report detail
{% endblock %}

{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Getting Started with Chart JS with www.chartjs3.com</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
      }
      .chartCard {
        width: 100vw;
        /*height: calc(100vh - 40px);*/
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .chartBox {
        width: 70%;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 5px 5px 5px #aaaaaa;
        border-radius: 5px;
        background: white;
        margin-bottom: 30px;
      }
      #risk-score {
        margin-top: 20px;
        text-align: center;
      }
      ol {
        margin-left: 20px;
      }
    </style>
  </head>

  <body>
    <h3 id="risk-score">Your risk score is 75</h3>
    <h3 id="risk-score">You have a high risk of developing diabetes</h3>
    <div class="chartCard">
        <div class="chartBox">
            <p>* How to interpret the bar chart below:</p>
            <p>Look for the color of the bar!</p>
            <p>If the bar is red, it means your value has exceed the diabetic average; If the bar is green, it means your value is kept to normal.</p>
        </div>
    </div>
    <div class="chartCard">
      <div class="chartBox">
        <canvas id="myChart"></canvas>
      </div>
    </div>
    <div class="chartCard">
        <div class="chartBox">
            <h3 id="advice">Advices</h3>
            <ol>
                <li>Drinking pattern: </li>
                <li>Physical activity: </li>
                <li>Smoking pattern: </li>
                <li>Hba1c: </li>
            </ol>
        </div>
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.1.0/chartjs-plugin-datalabels.min.js" integrity="sha512-Tfw6etYMUhL4RTki37niav99C6OHwMDB2iBT5S5piyHO+ltK2YX8Hjy9TXxhE1Gm/TmAV0uaykSpnHKFIAif/A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
    // setup block
    const featureValue = [38, 112, 58, 22, 100, 23, 55]
    const diabeticValue = [30, 90, 55, 18, 112, 30, 70]
    const normalValue = [27, 70, 52, 14, 90, 25, 60]
    // display the levels as stacked bar chart
    const thirdLayer = []
    const secondLayer = []
    const firstLayer = []
    for (i=0; i<featureValue.length; i++) {
        if(featureValue[i]<diabeticValue[i] && featureValue[i]<normalValue[i]) {           
            firstLayer.push(featureValue[i])
            secondLayer.push(normalValue[i]-featureValue[i])
            thirdLayer.push(diabeticValue[i]-normalValue[i])
        }
        else if(featureValue[i]>normalValue[i] && featureValue[i]<diabeticValue[i]) {
            firstLayer.push(normalValue[i])
            secondLayer.push(featureValue[i]-normalValue[i])
            thirdLayer.push(diabeticValue[i]-featureValue[i])
        }
        else {
            firstLayer.push(normalValue[i])
            secondLayer.push(diabeticValue[i]-normalValue[i])
            thirdLayer.push(featureValue[i]-diabeticValue[i])
        }
    }
    // change backgroundColor and borderColor of bar according to value
    const firstLayerBackground =[];
    const firstLayerBorder = [];
    const secondLayerBackground =[];
    const secondLayerBorder = [];
    const thirdLayerBackground =[];
    const thirdLayerBorder = [];
    for(i=0; i<featureValue.length; i++) {
        if(featureValue[i]<diabeticValue[i] && featureValue[i]<normalValue[i]){
            firstLayerBackground.push('rgba(75, 192, 192, 0.2)')
            firstLayerBorder.push('rgb(75, 192, 192)')
            secondLayerBackground.push('rgba(201, 203, 207, 0.2)')
            secondLayerBorder.push('rgb(75, 192, 192)')
            thirdLayerBackground.push('rgba(201, 203, 207, 0.2)')
            thirdLayerBorder.push('rgb(201, 203, 207)')
        }
        else if(featureValue[i]>normalValue[i] && featureValue[i]<diabeticValue[i]) {
            firstLayerBackground.push('rgba(75, 192, 192, 0.2)')
            firstLayerBorder.push('rgb(75, 192, 192)')
            secondLayerBackground.push('rgba(75, 192, 192, 0.2)')
            secondLayerBorder.push('rgb(75, 192, 192)')
            thirdLayerBackground.push('rgba(201, 203, 207, 0.2)')
            thirdLayerBorder.push('rgb(255, 99, 132)')
        }
        else{
            firstLayerBackground.push('rgba(255, 99, 132, 0.2)')
            firstLayerBorder.push('rgb(255, 99, 132)')
            secondLayerBackground.push('rgba(255, 99, 132, 0.2)')
            secondLayerBorder.push('rgb(255, 99, 132)')
            thirdLayerBackground.push('rgba(255, 99, 132, 0.2)')
            thirdLayerBorder.push('rgb(255, 99, 132)')
        }
    }

    console.log(firstLayerBackground);
    console.log(firstLayerBorder);

    const data = {
      labels: ["Glucose", "Drinking frequency", "Smoking frequency", "BMI", "Physical activity", "hba1c","Blood pressure"],
      datasets: [{
        label: 'Feature value',
        data: firstLayer,
        backgroundColor: firstLayerBackground,
        borderColor: firstLayerBorder,
        borderWidth: 1,
        barPercentage: 0.6
      },
      {
        label: 'Feature value',
        data: secondLayer,
        backgroundColor: secondLayerBackground,
        borderColor: secondLayerBorder,
        borderWidth: 1,
        barPercentage: 0.6
      },
      {
        label: 'Exceed Diabetic level by',
        data: thirdLayer,
        backgroundColor: thirdLayerBackground,
        borderColor: thirdLayerBorder,
        borderWidth: 1,
        barPercentage: 0.6
      }]
    };

    // config block
    const config = {
        type: 'bar',
        data,
        options: {
            indexAxis: 'y',
            scales: {
                x: { 
                    stacked: true,
                    grid : {
                        drawOnChartArea: false
                    },
                    ticks: {
                        display: false
                    }
                },
                y: {
                    beginAtZero: true,
                    stacked: true,
                    grid : {
                        drawOnChartArea: false
                    }
                }
            },
            plugins: {
                legend: {
                    display: false
                },
                datalabels: {
                    anchor: 'end',
                    //align: 'top',
                    formatter: (value, context) => {
                        const datasetArray=[];
                        context.chart.data.datasets.forEach(dataset => {
                            datasetArray.push(dataset.data[context.dataIndex]);
                        });
                        function totalSum(total, datapoint) {
                            return total + datapoint;
                        }
                        let sum = datasetArray.reduce(totalSum, 0);
                        if(context.datasetIndex === datasetArray.length-1) {
                            return sum;
                        } else {
                            return '';
                        }
                        
                    }
                }
            }
        },
        plugins: [ChartDataLabels]
    };

    // render init block
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
    </script>

  </body>
{% endblock %}