{% extends 'base.html' %}
{% block title %}

{% endblock %}

{% block content %}
<head></head>
<body>
    <div class="card mb-3" style="max-width: 60%; max-height: 500px; margin: auto;">
      <img src="/static/PIC/report.png" class="card-img-top" alt="..."
          style="width: 300px; height: 182px; margin: auto;">
          <h1> Past Reports </h1>
    </div>
    <p>{{ past_reports }}</p>
    <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color: #ee6617">
                Report on 15/08/2022
              </button>
            </h2>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <p class="title">Report</p>
              <p class="risk-score">Your risk score is 75</p>
              <!--Basic Info Secton-->
              <p class="Subheader">Basic Information</p>
              <div class="report-detail" style="display: flex; align-items: center; justify-content: center;">
                <ul class="list-name">
                  <li class="list-item">Age (year): </li>
                  <li class="list-item">Height (cm): </li>
                  <li class="list-item">Weight (kg): </li>
                  <li class="list-item">Waist Circumference (cm): </li>
                  <li class="list-item">Body Mass Index (kg/m2): </li> 
                </ul>
                <ul class="list-value">
                  <li class="list-item">{{ past_reports.0.sex}}</li>
                  <li class="list-item">65</li>
                  <li class="list-item">180</li>
                  <li class="list-item">200</li>
                  <li class="list-item">5.3</li>
                </ul>
              </div>
              <!--Blood test Section-->
              <p class="Subheader">Blood Test</p>
              <div class="report-detail" style="display: flex; align-items: center; justify-content: center;">
                <ul class="list-name">
                  <li class="list-item">Systolic Blood Pressure (mmHg):</li>
                  <li class="list-item">Diastolic Blood Pressure (mmHg):</li>
                </ul>
                <ul class="list-value">
                  <li class="list-item">Exercise daily</li>
                  <li class="list-item">Exercise daily</li>
                </ul>
              </div>
              <!--Lifestyle Section-->
              <p class="Subheader">Lifestyle Records</p>
              <div class="report-detail" style="display: flex; align-items: center; justify-content: center;">
                <ul class="list-name">
                  <li class="list-item">Systolic Blood Pressure (mmHg):</li>
                  <li class="list-item">Diastolic Blood Pressure (mmHg):</li>
                </ul>
                <ul class="list-value">
                  <li class="list-item">Exercise daily</li>
                  <li class="list-item">Exercise daily</li>
                </ul>
              </div>
              <!--Historical disease Section-->
              <p class="Subheader">Historical Diseases</p>
              <div class="report-detail" style="display: flex; align-items: center; justify-content: center;">
                <ul class="list-name">
                  <li class="list-item">Systolic Blood Pressure (mmHg):</li>
                  <li class="list-item">Diastolic Blood Pressure (mmHg):</li>
                </ul>
                <ul class="list-value">
                  <li class="list-item">Exercise daily</li>
                  <li class="list-item">Exercise daily</li>
                </ul>
              </div>
              <a class="btn btn-outline-warning" type="button" href="{{ url_for('report_detail_page') }}" style=" margin-bottom: 10px; margin-left: 300px;">View full report</a>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="color: #ee6617">
                Report on 15/08/2022
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <p class="title">Report</p>
                <p class="risk-score">Your risk score is 75</p>
                <p class="Subheader">Basic Information</p>
                <div class="report-detail" style="display: flex; align-items: center; justify-content: center;">
                  <ul class="list-name">
                    <li class="list-item">Age: </li>
                    <li class="list-item">Weight: </li>
                    <li class="list-item">Height: </li>
                    <li class="list-item">Glucose level: </li>
                    <li class="list-item">hba1c: </li>
                    <li class="list-item">Physical activity: </li> 
                  </ul>
                  <ul class="list-value">
                    <li class="list-item">22</li>
                    <li class="list-item">65</li>
                    <li class="list-item">180</li>
                    <li class="list-item">200</li>
                    <li class="list-item">5.3</li>
                    <li class="list-item">Exercise daily</li>
                  </ul>
                </div>
                <p class="Subheader">Blood Test</p>
                <div class="report-detail" style="display: flex; align-items: center; justify-content: center;">
                  <ul class="list-name">
                    <li class="list-item">Systolic Blood Pressure (mmHg):</li>
                    <li class="list-item">Diastolic Blood Pressure (mmHg):</li>
                  </ul>
                  <ul class="list-value">
                    <li class="list-item">Exercise daily</li>
                    <li class="list-item">Exercise daily</li>
                  </ul>
                </div>
                <a class="btn btn-outline-warning" type="button" href="{{ url_for('report_detail_page') }}" style=" margin-bottom: 10px; margin-left: 300px;">View full report</a>
            </div>
          </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="color: #ee6617">
                Report on 15/08/2022
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                <p class="title">Report</p>
                <p class="risk-score">Your risk score is 75</p>
                <div class="report-detail" style="display: flex; align-items: center; justify-content: center;">
                  <ul class="list-name">
                    <li class="list-item">Age: </li>
                    <li class="list-item">Weight: </li>
                    <li class="list-item">Height: </li>
                    <li class="list-item">Glucose level: </li>
                    <li class="list-item">hba1c: </li>
                    <li class="list-item">Physical activity: </li>
                  </ul>
                  <ul class="list-value">
                    <li class="list-item">22</li>
                    <li class="list-item">65</li>
                    <li class="list-item">180</li>
                    <li class="list-item">200</li>
                    <li class="list-item">5.3</li>
                    <li class="list-item">Exercise daily</li>
                  </ul>
                </div>
                <a class="btn btn-outline-warning" type="button" href="{{ url_for('report_detail_page') }}" style=" margin-bottom: 10px; margin-left: 300px;">View full report</a>
              </div>
          </div>
        </div>
      </div>

    <style>
        h1 {
            font-size: xx-large;
            text-align: center;
        }
        .accordion {
            width: 60%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;
            margin-top: 10px;
        }
        .title {
            text-align: center;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 150%;
        }
        .list-name {
            margin-right: 20px;
        }
        .list-item {
            list-style-type: none;
        }
        .risk-score {
            text-align: center;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .Subheader {
            text-align: center;
            margin-top: 10px;
            font-size: 20px;
            text-decoration: underline;
        }
        .inline { 
            display: inline-flex;
            margin-bottom: 10px;
        }
        .report-detail {
          margin-left: 30px;
        }

    </style>
</body>
{% endblock %}