{% extends 'base.html' %}
{% block title %}
    Report
{% endblock %}

{% block content %}
<head></head>
<body>
    <h1>Past Reports</h1>

    <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color: #ee6617">
                Report on 15/08/2022
              </button>
            </h2>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <p class="title">Report</p>
              <p class="risk-score">Your risk score is 75</p>
              <div class="report-detail" style="display: flex; align-items: center; justify-content: center;">
                <ul class="list-name">
                  <li class="list-item">Age: </li>
                  <li class="list-item">Weight: </li>
                  <li class="list-item">Height: </li>
                  <li class="list-item">Glucose level: </li>
                  <li class="list-item">hba1c: </li>
                  <li class="list-item">Physical activity: </li>
                </ul>
                <ul class="list-value">
                  <li class="list-item">22</li>
                  <li class="list-item">65</li>
                  <li class="list-item">180</li>
                  <li class="list-item">200</li>
                  <li class="list-item">5.3</li>
                  <li class="list-item">Exercise daily</li>
                </ul>
              </div>
              <a class="btn btn-outline-warning" type="button" href="{{ url_for('report_detail_page') }}" style=" margin-bottom: 10px; margin-left: 100px;">View full report</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="color: #ee6617">
                Report on 15/08/2022
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <p class="title">Report</p>
                <p class="risk-score">Your risk score is 75</p>
                <div class="report-detail" style="display: flex; align-items: center; justify-content: center;">
                  <ul class="list-name">
                    <li class="list-item">Age: </li>
                    <li class="list-item">Weight: </li>
                    <li class="list-item">Height: </li>
                    <li class="list-item">Glucose level: </li>
                    <li class="list-item">hba1c: </li>
                    <li class="list-item">Physical activity: </li>
                  </ul>
                  <ul class="list-value">
                    <li class="list-item">22</li>
                    <li class="list-item">65</li>
                    <li class="list-item">180</li>
                    <li class="list-item">200</li>
                    <li class="list-item">5.3</li>
                    <li class="list-item">Exercise daily</li>
                  </ul>
                </div>
                <a class="btn btn-outline-warning" type="button" href="{{ url_for('report_detail_page') }}" style=" margin-bottom: 10px; margin-left: 100px;">View full report</a>
              </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="color: #ee6617">
                Report on 15/08/2022
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                <p class="title">Report</p>
                <p class="risk-score">Your risk score is 75</p>
                <div class="report-detail" style="display: flex; align-items: center; justify-content: center;">
                  <ul class="list-name">
                    <li class="list-item">Age: </li>
                    <li class="list-item">Weight: </li>
                    <li class="list-item">Height: </li>
                    <li class="list-item">Glucose level: </li>
                    <li class="list-item">hba1c: </li>
                    <li class="list-item">Physical activity: </li>
                  </ul>
                  <ul class="list-value">
                    <li class="list-item">22</li>
                    <li class="list-item">65</li>
                    <li class="list-item">180</li>
                    <li class="list-item">200</li>
                    <li class="list-item">5.3</li>
                    <li class="list-item">Exercise daily</li>
                  </ul>
                </div>
                <a class="btn btn-outline-warning" type="button" href="{{ url_for('report_detail_page') }}" style=" margin-bottom: 10px; margin-left: 100px;">View full report</a>
              </div>
          </div>
        </div>
      </div>

    <style>
        h1 {
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .accordion {
            width: 400px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;
        }
        .title {
            text-align: center;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 150%;
        }
        .list-name {
            margin-right: 20px;
        }
        .list-item {
            list-style-type: none;
        }
        .risk-score {
            text-align: center;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
</body>
{% endblock %}