{% extends 'base.html' %}
{% block title %}
    Simulation
{% endblock %}

{% block content %}


    <style>
        h1 {
            margin-top: 60px;
            #text-shadow: 1px 1px 5px #BFBFBF;
            font-size: xx-large;
            text-align: center;
        }
        button {
            margin-top: 20px;
            margin : auto;
            margin-bottom: 10px;
        }

        form {
            max-width: 1000px;
            border-radius: 20px;
            display: grid;
            margin: auto;
            margin-top: 20px;
            #background-color: #FEFBFB;
            box-shadow: 5px 5px 5px #aaaaaa;"
        }

    </style>
</body>

{% endblock %}